body{
    
    font-family: "Permanent Market", cursive;
    background-color:blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body a{
    text-decoration: none;
}

#container-general{
    width: 80%;
    margin: 0;
    border: 0px solid white;
    background-color: white;
    border: 0px white solid;
    border-radius: 15px;
}


/* PREMIERE PARTIE  */

#game-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

h1{
    font-size: 60px;
    width: 60%;
    font-family: "Permanent Market", cursive;
    color: #264653;
    font-weight: normal;
    display: flex;
    flex-direction: row;
}
.titre-custom{
    color: #2a9d8f;
    font-weight: bold;
}
.titre-custom:hover{
    color: #e76f51;
    font-weight: bold;
}

.titre_score{
    font-size: 36px;
    padding : 10px;
    width: 20%;
    text-align: end;
}
.score{
    background-color: #264653;
    color:white;
    min-width: 150px;
    align-items: flex-end;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 60px;
    padding: 10px 25px;
    text-align: end;
    margin: 10px;
    border: 0px solid white;
    border-radius: 5px;
    
}

/* DEUXIME PARTIE  */

#multiplier-container  {
    margin: auto;
    display: flex;
    justify-content:end;
    background-color: white;
}

.bienvenue{
    width: 60%;
    text-align: center;
    font-size: 24px;
    border: 3px solid #264653;
    border-radius: 15px;
}
.titre_multiplicateur{
    font-size: 36px;
    padding : 10px;
    width: 20%;
    text-align: end;

}

.multiplicateur{
    background-color: #264653;
    color:white;
    min-width: 150px;
    align-items: flex-end;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    padding: 10px 25px;
    text-align: end;
    margin : 10px;
    border: 0px solid white;
    border-radius: 5px;

}

/* TROISIEME PARTIE  */

#cookie-container{
    margin: auto;
    display: flex;
    justify-content:end;
    background-color: white;
}

.colonne_display{
    background-color: #264653;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 25px;
    border: 0px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 1px black;

}

img{
    width: 40%;
    animation:rotation 12s infinite linear;
}

img:hover {
    animation-play-state: paused;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.commandes{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap : 10px;
    align-items: center;
    justify-content: center;
}

.display_info{
    background-color: white;
    padding: 10px;
    margin-left : 10px;
    margin-right: 10px;
    height: 100px;
}

.bouton_commande{
    background-color: #264653;
    color: white;
    border: 4px #2a9d8f solid;
    font-size: 1.5em;
    width: 75%;
    height: 80px;
    font-family: "Permanent Market", cursive;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.bouton_commande::before {
    content :"";
    position: absolute;
    top : 90px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a9d8f;
    border-radius: 75% 75% 0 0 ;
    transition : all .5s;
    z-index: -1;
}

.bouton_commande:hover::before{
    top: 0;
    border-radius: 0;

}


.bouton_commande:disabled{
    background-color: #e5e5dc;
    color:#264653;
    border: 0px white solid;
    font-size: 1.5em;
    height: 80px;
    width: 75%;
    font-family: "Permanent Market", cursive;
}

.bouton_commande:disabled:hover::before{
    background-color: #e5e5dc;
    color:#264653;
}


button h3{
    margin: 0;
    font-size: 1em;
}

button h4{
    margin: 0;
    font-size: 0.6em;
    display: inline-block;
}

button p{
    display: inline-block;
    font-size: 0.6em;
    margin: 0;
}

.multiplicateur::before{
    content: "x ";
}

#timerBonus3 {
    display: none;
    color: #e76f51;
    font-weight: bold;
    font-size: 1em;
}

#timerBonus4 {
    display: none;
    color: #e76f51;
    font-weight: bold;
    font-size: 1em;
}